@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* Animation for illustration */

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes feature-fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up 3s ease-out forwards;
}

.animate-feature-fade {
  animation: feature-fade 4s infinite;
}

.animate-slide {
  animation: slide 12s infinite;
}

.group:hover .animate-slide {
  animation-play-state: paused;
}

.animate-progress {
  animation: progress 2s ease-out forwards;
}
